<div class='row'> 
  <div class='col-sm-offset-0 col-xs-12'>
    <div class="well well-lg">
      <h4 align="center">Modify Existing Ad</h4>
      <%= render 'form' %>

      <% current_article = @article.id %>
      <% session[:current_article] = current_article %>
      <%= render :partial => 'images/form', :object => @image %>
    </div>
  </div>
</div>  