<% if session[:mobile] == "Y" %>
  <div class='col-xs-offset-0 col-xs-12 gutter-0'>
    <div class="well col-xs-12 col-xs-offset-0">
      <%= render 'mmonearticle' %>
    </div>
  </div>
<% else %>
  <div class="well col-xs-12 col-xs-offset-0">
    <%= render 'onearticle' %>
    <%= render 'showimages' %>
  </div>
<% end %>