<% if session[:mobile] == "Y" %>

      <%= render 'mmonearticle' %>

<% else %>
  <div class="well col-xs-12 col-xs-offset-0">
    <%= render 'onearticle' %>
    <%= render 'showimages' %>
  </div>
<% end %>