<div class='row'> 
  <div class='col-sm-offset-0 col-xs-12'>
    <div class="well well-lg ">
      <div class='row col-sm-offset-0 col-xs-12 article-title'>
        <h4 align="left">My Settings</h4><hr><br>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>  
