<div class="center jumbotron" 
  <nav class="navbar navbar-default"> 
  <h1>ALPHA BLOG</h1> #2 classes here - center will middle justify 
  <%= link_to "Sign-up Now", "#", class: "btn btn-primary btn-lg" %> 
</div>