<div class='row'> 
  <div class='col-sm-offset-1 col-xs-10'>
    <div class="well well-lg">
      <% if current_user %>
        <br>
        <div class="lowseng">
          <h3><%#= current_user.email %></h3>
        </div><br>
      <% end %>
      <%= render 'search' %>
      <%= render 'articles/article', obj: @articles %>
      <div align="left">
        <%= will_paginate @articles %>
      </div>
    </div>
  </div>
</div>