<!--<%# if current_user %>
  <div class="lowseng">
    <h3>Welcome: <%#= current_user.email %></h3>
  </div>
<%# end %> -->
<%= render 'search' %>
<div align="center">
  <%= will_paginate @articles %>
</div>
<%= render 'articles/article', obj: @articles %>
<div align="center">
  <%= will_paginate @articles %>
</div>