<script type="text/javascript">
if (screen.width <= 699) {
document.location = "welcome/mmindex";
}
</script>

<!--
javascript is on client's side, and erb is on servers side.
Usually if you want to pass some variable to erb , you can fetch that variable in controller in a specific action, (if you like), and pass that data to the erb.
-->
<div class='row'> 
  <div class='col-sm-offset-0 col-xs-12'>
    <div class="well well-lg">
      <div class="lowseng">
        <h3><%#= current_user.email %></h3>
      </div><br>
      <%= render 'search' %>
      <%= render 'articles/article', obj: @articles %>
      <div align="left">
        <%= will_paginate @articles %>
      </div>
    </div>
  </div>
</div>