<script type="text/javascript">
<!--
if (screen.width <= 699) {
document.location = "http://yahoo.com";
}
//-->
</script>

<div class='row'> 
  <div class='col-sm-offset-0 col-xs-12'>
    <div class="well well-lg">
      <div class="lowseng">
        <h3><%#= current_user.email %></h3>
      </div><br>
      <%= render 'search' %>
      <%= render 'articles/article', obj: @articles %>
      <div align="left">
        <%= will_paginate @articles %>
      </div>
    </div>
  </div>
</div>