<div class='row'> 
  <div class='col-sm-offset-1 col-xs-10'>
    <div class="well well-lg">
      <h4 align="center">My Ads</h4>
      <div align="center">
        <%= will_paginate @articles %>
      </div>
      <%= render 'articles/article', obj: @articles %>
      <div align="center">
        <%= will_paginate @articles %>
      </div>
    </div>
  </div>
</div>  