<h1><%#= @article.title %></h1>
<%- model_class = Image -%>
<% if param1 = params[:param1] %>
  <div align="center">
    <%= will_paginate %> 
  </div>
<% else %>
  <%= render 'articles/onearticle', obj: @article %>
<% end %>

<%= render 'image' %>

<% if param1 = params[:param1] %>
  <div align="center">
    <%= will_paginate %> 
  </div>
<% end %>

 