<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td><%= render 'articles/onearticle' %></td>
  </tr>
  <%# if @article.images.count < 5 %>
    <tr>
      <td><%= render :partial => 'form' %></td>
    </tr>
  <%# end %>
</table>
