<h4 align="center">Manage Countries</h4>
<div align="center">
  <%#= will_paginate %>
</div>
<%= render 'place', obj: @places %>
<div align="center">
  <%= link_to 'Add New Country', new_place_path %><br><br>
  <%#= will_paginate %>
</div>